<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />

  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.css" />
</head>
<body>

  <div id="firebaseui-auth-container"></div>


    <article class="prose prose-sm container mx-auto">
        <h1>Version: {{.Version}}</h1>
        <p><a href="https://github.com/wietsevenema/inspect">gcr.io/cloud-run-book/inspect</a></p>
        <h2>About</h2>
        <table class="table-fixed">
            <tbody>
                <tr>
                    <th>Total Memory</th>
                    <td>{{human .TotalMemory}}</td>
                </tr>
                <tr>
                    <th>Uptime</th>
                    <td>{{ .Uptime }}</td>
                </tr>
                {{if .OnGoogleCloud}}
                <tr>
                  <th>vCPUs</th>
                  <td>{{.VCPU}}</td>
                </tr>
                <tr>
                  <th>Region</th>
                  <td>{{.Region}}</td>
                </tr>
                <tr>
                  <th>Service account</th>
                  <td>{{.ServiceAccount}}</td>
                </tr>
                <tr>
                  <th>Instance ID</th>
                  <td>{{.InstanceID}}</td>
                </tr>
                <tr>
                  <th>Project</th>
                  <td>{{.ProjectID}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
      
        <h2>Environment Variables</h2>
        <table class="table-fixed">
            <thead>
              <tr>
                <th class="w-1/8">Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{range $key, $value := .Environ}}
              <tr>
                  <td>{{$key}}</td>
                  <td>{{$value}}</td>
              </tr>                
              {{end}}
            </tbody>
        </table>
        
        <h2>Request Headers</h2>
        <table class="table-fixed">
            <thead>
              <tr>
                <th class="w-1/8">Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{range $key, $value := .Headers}}
              <tr>
                  <td>{{$key}}</td>
                  <td>{{$value}}</td>
              </tr>                
              {{end}}
            </tbody>
        </table>
        <!-- <h2>About This Service</h2> -->
    </article>


    <script>

const firebaseConfig = {
  apiKey: "AIzaSyCVOS829n9sYfzMDYjG4J3SjjQM0GPbd3U",
  authDomain: "isentropic-now-393618.firebaseapp.com",
  projectId: "isentropic-now-393618",
  storageBucket: "isentropic-now-393618.appspot.com",
  messagingSenderId: "692264106314",
  appId: "1:692264106314:web:1352037047fd29a611e9b3"
};

const app = firebase.initializeApp(firebaseConfig);

// Initialize the FirebaseUI Widget using Firebase.
var ui = new firebaseui.auth.AuthUI(app.auth());
ui.start('#firebaseui-auth-container', {
  signInOptions: [
    {
      // Google provider must be enabled in Firebase Console to support one-tap
      // sign-up.
      provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      // Required to enable ID token credentials for this provider.
      // This can be obtained from the Credentials page of the Google APIs
      // console. Use the same OAuth client ID used for the Google provider
      // configured with GCIP or Firebase Auth.
      // clientId: '385268383291-4cvdjhk3jpk7hucv3l6i1v1jjcat41o4.apps.googleusercontent.com'
    }
  ],
  callbacks: {
    // Called when the user has been successfully signed in.
    signInSuccessWithAuthResult: function ({ user }) {
      if (user) {
        user.getIdToken().then((oidcToken) => {
          var request = new Request('/api/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              oidcToken
            })
          })
          fetch(request).then(() => document.location.reload())
        })
        return false;
      }
    },
  },
  // Required to enable one-tap sign-up credential helper.
  credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO
});
ui.disableAutoSignIn()

    </script>
  </body>
</html>
